*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}
.navbar{
    width: 100%;
    padding: 20px 0px;
    display: flex;
    background: #f2f2f2;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
    align-items: center;
}
.navbar ul li{
    list-style-type: none;
    padding: 0px 20px; 
    font-size: 18px;
    display: inline-flex;
    cursor: pointer;
}
.navbar button{
    width: 100px;
    border:none;
    font-size: 20px;
    background-color: #ccc;
    border-radius: 6px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    height: 35px;

}
a.active{
    color: skyblue;
    font-size: 20px;
    font-weight: 900;
}
.container{
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;

}
.frm{
    background: #ffff;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
    padding: 10px;
    margin-top:20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}
.frm input{
    width: 50%;
    margin-left: 15px;
    height: 35px;
    padding-inline: 10px;
}
.frm button{
    width: 40%;
    height: 35px;
    align-self: center;
    font-size: 17px;
    cursor: pointer;
}
.frm h2{
    text-align: center;
}
.home-container{
    width: 100%;
    height: auto;
    justify-self: center;
    max-width: 1300px;
    padding: 10px;

}
.home-text{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.home-text p{
    font-size: 18px;

}
.home-text button{
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: blue;
    background: skyblue;
    cursor: pointer;
    border: none;
}
.contact-container{
    width: 100%;
    height: auto;
    justify-self: center;
    max-width: 1300px;
    padding: 10px;
    display: flex;
    gap: 20px;

}
.contact-container button{
    width: 100px;
    height: 30px;
    font-size: 15px;
    border: 1px solid #ccc;
    background: navajowhite;
    border-radius: 7px;
    cursor: pointer;

}
.user-container{
    width: 100%;
    margin: 30px 80px;
    height: auto;
}
.frm .pass{
    display: inline-flex;
    width: 100%;

}
.pass .main-pass{
    width: 50%;
    align-items: start;
}
.pass .cp-pass{
    width: 50%;
    
}
#frm{
    display: flex;
    flex-direction: column;
    align-items:left ;
    margin: 0px 40px ;
    gap: 5px;
    margin-top: 20px;
}
#frm input{
    width: 40%;
    padding: 9px;
    border: 1px solid #ddd;
    border-radius: 7px;
    outline: none;
}
#frm button{
    width: 20%;
    padding: 7px;
    margin-left: 50px;

}
.error{
    color: red;
}
.gender-list{
    display: flex;
    font-size: 17px;
    gap: 10px;
}
.gender-list label{
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.gender-list input{
    width: 17px;
}
.frm select{
    height: 30px;
    width: 50%;
    margin-left: 15px;
}
.frm .Agree{
    display: inline-flex;
    align-items: center;
    gap: 15px;

}
.Agree input{
    width: 17px;
}
.frm textarea{
    width: 50%;
    margin-left: 15px;
    height: auto;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
	-webkit-appearance:none;
}
.frm .language{
    display:flex;
    gap: 20px;
    align-items: center;

}
.frm .language input{
    width: 17px;

}